/*{background-color;: purple: #540B51;
background ivory: #F3EAE2;
button blue: #4285F4;
titles black: #191817;
paragraph black: #000000;
paragraph yellow: #ECB12F;
links blue: #2E71A6;
footer links grey: #454245;
}*/
* {
    font-size: 20px;
    color: black;
    margin: 0;
    padding: 0;
}
header {
    background-color: #540B51;
}
nav {
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8px;
    padding-bottom: 20px;
}
nav div img {
    width: 5rem;
    height: 1.5rem;
    position: relative;
    top: 10px;
    left: 10px;
    }
nav div button {
    background-color: #540B51;
    border: none;
}
nav div button img {
    width: 1rem;
    height: 1rem;
    color: #4285F4;
    background-color: #540B51;
    margin-right: 20px;

}
nav div ul {
    display: none;
}
    
main {
    background-color: #F3EAE2;
}
footer {
    background-color: #F3EAE2;
}
h1{
    color: white;
    font-size: 2.3rem;
    text-align: center;
    padding: 20px;

}
header div p::selection {
    color: #ECB12F;
}

header div p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}
header div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header div div button {
    width: 18rem;
    height: 3rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 7px;
    border: none;
    text-align: center;
    display: flex;
    flex-direction: row;
}
header div div button > img {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
}
header div div :first-of-type {
    justify-content: center;
    color: #540B51;
}
header div div  button + button {
    background-color: #4285F4;
    color: white;
    justify-content: center;
    position: relative
}
strong{
    color: #ECB12F;
}
header div img {
    width: 100%
}
main section p {
    padding-top: 10px;
    text-align: center;
    text-transform: capitalize;
}
main section:first-child div img{
    padding-left: 10px;
    flex-wrap: wrap;
    justify-content: center;
    width: 18vw;
}
main section + section div img {
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
}
h2 {
    color: #191817;
}
main section div p {
    text-align: left;
}
a span {
    color: #2E71A6
}
main section div a {
    color: #2E71A6;   
}
main section + section +section + section +section {
    background-color: white;
}
h3{
    margin-top: 50px;
    text-align: center;
}
main section p {
    text-align: center;
}
main section div button {
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    text-transform: capitalize;
   
}
main section div button:first-child {
    color: white;
    background-color: #540B51;
    border-radius: 7px;
    border: none;
    text-align: center;
    padding: 10px;
}
main section div button + button {
    color: #540B51;
    background-color: white;
    border-radius: 7px;
    border: 2px solid #540B51;
    text-align: center;
    padding: 10px;  
}
main section ul li p:first-child span {
    font-size: 2rem;
    color: #540B51;

}
sup {
    background-color: white;
}
main section:last-child {
    background-color: #540B51;
}
main section:last-child button {
    justify-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    text-transform: capitalize;
}
main section button:first-child {
    color: white;
    background-color: #540B51;
    border-radius: 7px;
    border: none;
    text-align: cente r;
    padding: 10px;
}
main section button + button {
    color: #540B51;
    background-color: white;
    border-radius: 7px;
    border: 2px solid #540B51;
    text-align: center;
    padding: 10px;